.text-color {
    -fx-text-fill: #000000;
}

.lbl {
    -fx-font-size: 14;
}

.btnnav {
    /* Top-Bottom Right-Left */
    -fx-border-color: #0f5257;
    -fx-border-width: 2;
    -fx-padding: 8 10;
    -fx-background-color: #0b3142;
    -fx-border-width: 1 0 1 0;
    -fx-background-radius: 5;
    -fx-text-fill: #d6d3f0;
    -fx-alignment: center;
}

.btnnav:hover {
    -fx-border-color: #0f5257;
    -fx-border-width: 2;
    -fx-background-color: #0f5257;
}

.btn {
    /* Top-Bottom Right-Left */
    -fx-border-color: #0b3142;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-padding: 8 10;
    -fx-background-color: #0b3142;
    -fx-background-radius: 5;
    -fx-text-fill: #d6d3f0;
    -fx-alignment: center;
}

.btn:hover {
    -fx-border-color: #0f5257;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-color: #0f5257;
}

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-accent: #0f5257;
    -fx-font-size: 16;
    -fx-border-color: #0b3142;
    -fx-border-width: 0 0 1 0;
}

.text-field:focused {
    -fx-background-color: transparent;
    -fx-text-fill: #0b3142;
    -fx-border-color: #0f5257;
    -fx-border-width: 0 0 1.5 0;
}

.brd {
    -fx-padding: 8;
    -fx-border-color: #0b3142;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
